<!DOCTYPE html>
<html>
<head>
    <title>Create Location</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Create Location</h1>
    <form method="POST">
        <label for="lnr">LNr:</label>
        <input type="text" id="lnr" name="lnr" required><br>
        <label for="shorttitle">Short Title:</label>
        <input type="text" id="shorttitle" name="shorttitle" required><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>
        <input type="submit" value="Create Location">
        <a href="/index">Back</a>
    </form>
</body>
</html>
