<!DOCTYPE html>
<html>
<head>
    <title>Wildlife Tracker</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Wildlife Tracker</h1>
    <nav>
        <ul>
            <li><a href="/create_location">Create Location</a></li>
            <br>
            <li><a href="/create_genus">Create Genus</a></li>
            <br>
            <li><a href="/create_animal">Create Animal</a></li>
            <br>
            <li><a href="/create_observation">Create Observation</a></li>
        </ul>
    </nav>
</body>
</html>
