body {
    font-family: Arial, sans-serif;
            background-image: url('hintergrund.png'); /* Pfad zum Bild */
            background-size: cover; /* Bild auf die gesamte Fläche skalieren */
            background-repeat: no-repeat; /* Bild nicht wiederholen */
            background-attachment: fixed; /* Bild bleibt fixiert beim Scrollen */
            background-position: center; /* Bild in der Mitte zentrieren */
        }
h1, h2 {
    color: #4a4a4a;
}

label {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input[type="datetime-local"] {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.timer {
    font-size: 24px;
    color: #4a4a4a;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    padding: 8px 16px;
    margin-bottom: 10px;
}

.invis {
      display: none;
    }

/* Style für die Tabelle */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Style für die Buttons und Eingabefelder */
button, input[type="submit"] {
    display: inline-block; /* Damit der Link blockähnliche Eigenschaften erhält */
    width:215px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="text"], input[type="time"], input[type="number"], input[type="time"], input[type="date"]  {
    padding: 8px;
    margin: 4px 2px;
    width: 215px;

}

select{
    display: inline-block;
    width: 215px;
    padding: 12px;
    margin: 4px 2px;
}
/* Flatpickr-Styling */
.flatpickr-wrapper {
    display: inline-block;
    margin-right: 10px;
}

.flatpickr-input {
    width: 120px;
}

/* Anpassungen für die Formularzeilen */
form {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.action-buttons {
        display: flex;
        gap: 10px; /* Abstand zwischen den Formularen */
        align-items: center; /* Zentriert die Elemente vertikal */
    }

a {
    display: inline-block; /* Damit der Link blockähnliche Eigenschaften erhält */
    width: 215px; /* Feste Breite */
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 10px;
}

a:hover {
    background-color: #4caf50;
    color: white;
    text-decoration: none;
}